{% extends "layouts/base.html.twig" %}
{% block title %}Home{% endblock %}
{% block javascript %}
    <script>
      $(document).ready(function() {
        var firstLoad = 1

          function loadLogs(){
            var bottom = $('#content').prop('scrollHeight')
            $.get({
              url: "{{ logfile }}",
              cache: false
            }).then(function(data) {
              var heightAfter = $('#content').scrollTop() + $('#content').height()
              var split = data.replace(/\n/g, "<br />")
              $('#content').html(split);
              if (firstLoad || bottom === heightAfter){
                $("#content").animate({ scrollTop: $('#content').prop('scrollHeight') }, 0);
                firstLoad = 0
              }
              setTimeout(loadLogs, 1000);
            });
          }
          setTimeout(loadLogs, 10);

          $('#rcon').keyup(function(e) {
            if (e.keyCode === 13) {
              var command = $('#rcon').val()
              $('#rcon').val('')
              $.post("process.php", { data: command }, function(data) {})
            }
          })
      })
    </script>
{% endblock %}
{% block content %}
    <div>
        <h1>Web Console</h1>

        <console>
          <div id="content"></div>
          <div id="input">
              <input id="rcon" type="text" placeholder="rcon ...">
          </div>
        </console>
    </div>
{% endblock %}
